---
import i18next from "i18next";
//@ts-ignore
import { localizePath } from "astro-i18next";
interface Props {
  href: string;
  className?: string;
}
const { href, className } = Astro.props;
---

<a href={localizePath(href, i18next.language)} class={className}>
  <slot />
</a>
<style>

</style>
