---
import Layout from "../../layouts/Layout.astro";
import i18next, { t, changeLanguage } from "i18next";
//@ts-ignore
import { localizePath } from "astro-i18next";

changeLanguage("de");
---

<Layout title={t("site.title")}>
  <main >
    {t("site.title")}
	<a href={localizePath(Astro.url.pathname , 'en')}>En</a>
	<a href={localizePath(Astro.url.pathname , 'de')}>De</a>


  </main>
</Layout>

<style></style>
